<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: nav"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>
<ul>
    <li th:each="cheese : ${cheeses}">
        <div>
            <h3>Cheese Type:</h3>
            <h2 class="cheeseType" th:text="${cheese.key}">Cheese Type</h2>
        </div>
        <div class="container">
            <p class="descriptionLabel">Description:</p>
            <p class="cheeseDescription" th:text="${cheese.value}">Key</p><br/>
        </div>


    </li>
</ul>



</body>
</html>