<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>


<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-warning">
          <i class="fas fa-clipboard"></i> Cheese </span> List
        </h1>
        <div class="card">
            <div class="card-head text-center mt-3">
                <h4>Your customized list of cheeses. Yum!</h4>
            </div>
            <div class="card-body">
                <h4 th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</h4>
                <table th:each="cheese : ${cheeses}" class="table table-striped">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Cheese Type:</th>
                        <th>Description:</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${cheese.name}">Cheese Name</td>
                        <td th:text="${cheese.description}">Cheese Description</td>
                        <td><a  th:href="@{'/cheese/edit/' + ${cheese.cheeseID}}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-circle-right"> Edit</i></a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



</body>
</html>