<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>
<form method="post">
    <label for="cheeseCheckbox">Please check which cheese(s) you would like to remove: </label> <br />
    <input id="cheeseCheckbox" type="checkbox" th:each="cheese : ${cheeses}" th:text="${cheese.name}" name="cheeseCheckbox" th:value="${cheese.description}">Cheese Type</input><br />
    <input type="submit" value="Remove Cheese(s)" />
</form>
</body>
</html>